h1 {
    color:#2e4d96
    font-size:60px;
    font-family: "monospace" , cursive, sans-serif;

}

body {
      background-color
      max-width: 800px;
}

img {
    max-width: 100%;
}
